<!-- translation-chat.component.html -->
<div style="height: 100%; width: 100%; overflow: hidden;">
    <mat-card style="height: 500px; width: 100%; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
      <mat-card-content *ngFor="let message of messagesList">
        <!-- User message display -->
        <mat-card style="margin-top: 10px; margin-bottom: 10px;">
            <p style="margin-left:10px;color:#C9C2CB;white-space: pre-wrap;">
                {{message.userMessage}}
            </p>
        </mat-card>
  
        <!-- System message display -->
        <mat-card style="margin-top: 10px; margin-bottom: 0px; background-color: #4E444B;">
            <p style="margin-top:10px;margin-left:10px;color: #C9C2CB;white-space: pre-wrap;">
                {{message.responseMessage}}
            </p>
        </mat-card>
      </mat-card-content>
    </mat-card>
</div>
<!-- Input container for user message -->
<div class="input-container" style="display: flex; align-items: center; margin-top: 10px;">
    <button mat-mini-fab style="background-color:#1E1A1D;box-shadow:none;margin-bottom:20px" (click)="fileInput.click()" [disabled]="showLoader">
        <mat-icon>add</mat-icon>
    </button>
    <mat-form-field style="flex: 1;">
        <mat-label>Escriba el mensaje que quiera traducir</mat-label>
        <textarea matInput [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" [ngStyle]="{'color': (userMessage != mediaMessage) ? 'inherit' : 'yellow'}" [disabled]="showLoader"></textarea>
        </mat-form-field>
        <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
    <button mat-mini-fab style="background-color:#1E1A1D;box-shadow:none;margin-bottom:20px" (click)="sendMessage()" [disabled]="showLoader">
        <mat-icon>translate</mat-icon>
    </button>
    <button mat-mini-fab style="background-color:#1E1A1D;box-shadow:none;margin-bottom:20px;" (click)="deleteMessages()" [disabled]="showLoader">
        <mat-icon>delete</mat-icon>
    </button>
</div>
<div *ngIf="showLoader">
    <p>
        Por favor tenga paciencia...
    </p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<style>
    mat-card::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
</style>