<div class="container" fxLayout="row" fxLayoutAlign="start stretch">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-toolbar>Heramientas</mat-toolbar>
      <mat-nav-list>
        <mat-list-item>Traductor</mat-list-item>
        <mat-list-item>$</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <mat-toolbar color="primary">
          <span>Bienvenidos al Traductor</span>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div class="content" fxLayout="column">
          <app-translation-chat></app-translation-chat>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>