<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brown Neutral Aesthetic</title>
</head>
<body>
  <div class="container">
    <div class="banner">
      <h5>Settings</h5>
      <ul>
        <li>Tab 1</li>
        <li>Tab 2</li>
        <li>Sub Application</li>
      </ul>
    </div>
    <div class="content">
      <p style="font-size:x-large;">Bienvenidos al Traductor</p>
      <hr>
    </div>
  </div>
</body>
</html>